<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/layouts/dashboard']">
        <img src="assets/img/senegocia.png" width="200" height="65" class="d-inline-block align-top" alt="">
    </a>
    <a class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()"><i class="fas fa-bars"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only"></span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a (click)="logout()" class="nav-link" href="#"><i class="fas fa-power-off tamano-off"></i> <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active" style="padding: 7px;">

                </li>
            </ul>
        </form>
    </div>
</nav>