<app-sidebar></app-sidebar>
<div class="container">
    <navbar></navbar>
    <br>
    <form (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-md-4">
                <select class="form-control" name="country_id" required [(ngModel)]="formularioInformation.country_id">Elije
                  <option value="" selected>Elegir País ...</option>  
                  <option *ngFor="let selector of selectors" [value]="selector.pais_id">
                            {{selector.nombre}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="razonSocial" placeholder="Razón Social" [(ngModel)]="formularioInformation.razonSocial">
            </div>
            <div class="form-group col-md-2">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" [(ngModel)]="formularioInformation.nombre">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            </div>
            <div class="col-md-6">
                <div *ngIf="msg" [class]=class><strong>{{msg}}</strong></div>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Razón Social</th>
                <th>Nombre</th>
                <th>Región</th>
                <!--<th>Desc. de la empresa</th>
                <th>Identificador</th>-->
                <th>Idioma</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of valores_tabla">
            <tr>
                <td>{{item.cliente_id}}</td>
                <td>{{item.razon_social}}</td>
                <td>{{item.nombre_fantasia}}</td>
                <td>{{item.region.nombre}}</td>
                <!--<td>{{item.descripcion_empresa}}</td>
                <td>{{item.identificador}}</td>-->
                <td>{{item.pais.idioma.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>